<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMSCliCtrV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMSCliCtrV2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SMSCliCtrV2.Properties.Settings.SMS_ConnectionString"
            connectionString="Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SMSCliCtrV2.Properties.Settings>
            <setting name="PingRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvClasses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>root\cimv2:Win32_OperatingSystem:Caption</string>
                        <string>root\cimv2:Win32_ComputerSystem:Name</string>
                        <string>root\cimv2:Win32Reg_AddRemovePrograms:DisplayName</string>
                        <string>root\cimv2:Win32_NetworkAdapter:Caption</string>
                        <string>root\cimv2:Win32_NetworkAdapterConfiguration:Caption</string>
                        <string>root\cimv2:Win32_NetworkLoginProfile:Caption</string>
                        <string>root\cimv2:Win32_LocalAdmins:Member</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SCCMXML" serializeAs="String">
                <value>&lt;ActionDescription Class="Executable" DisplayName="Client Center..." MnemonicDisplayName="SMSCliCtr" Description = "SMS/SCCM Client Center"&gt;
    &lt;ImagesDescription&gt;
        &lt;ResourceAssembly&gt;
          &lt;Assembly&gt;{0}&lt;/Assembly&gt; 
              &lt;Type&gt;SMSCliCtr.Properties.Resources.resources&lt;/Type&gt; 
        &lt;/ResourceAssembly&gt;
        &lt;ImageResourceName&gt;SCCM1&lt;/ImageResourceName&gt; 
    &lt;/ImagesDescription&gt;
  &lt;Executable&gt;
    &lt;FilePath&gt;{0}&lt;/FilePath&gt;
    &lt;Parameters&gt;##SUB:Name##&lt;/Parameters&gt;
  &lt;/Executable&gt;
&lt;/ActionDescription&gt;</value>
            </setting>
            <setting name="SMSEvents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>SMS Events:ROOT\ccm\Events:SELECT * FROM CCM_Event</string>
                        <string>SMS Inventory Events:ROOT\CCM\invagt:SELECT * FROM __InstanceOperationEvent WHERE Targetinstance ISA 'InventoryActionStatus'</string>
                        <string>SMS Scheduler Events:ROOT\CCM\Scheduler:SELECT * FROM __InstanceOperationEvent WHERE Targetinstance ISA 'CCM_Scheduler_History'</string>
                        <string>SMSTransfer:root\CCM\DataTransferService:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_DTS_JobEx'</string>
                        <string>SMSTransfer:root\CCM\DataTransferService:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_FileBITS_Job'</string>
                        <string>SMSTransfer:root\CCM\DataTransferService:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_FileBITS_JobItem'</string>
                        <string>SMSTransfer:root\CCM\DataTransferService:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_DTS_JobItemEx'</string>
                        <string>SMSTransfer:root\CCM\ContentTransferManager:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_CTM_ContentLocationEx'</string>
                        <string>SMSTransfer:root\CCM\ContentTransferManager:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'CCM_CTM_JobStateEx4'</string>
                        <string>SMSTransfer:root\CCM\LocationServices:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'LocationRequestEx'</string>
                        <string>SMSTransfer:root\CCM\LocationServices:select * from __InstanceOperationEvent WHERE TargetInstance ISA 'WSUSLocationRequest'</string>
                        <string>Event Log Events:ROOT\Cimv2:select * from __InstanceCreationEvent WHERE TargetInstance ISA 'Win32_NTLogEvent'</string>
                        <string>Process:ROOT\Cimv2:select * from __InstanceCreationEvent WITHIN 1  WHERE TargetInstance ISA 'Win32_Process'</string>
                        <string>Process:ROOT\Cimv2:select * from __InstanceDeletionEvent WITHIN 1  WHERE TargetInstance ISA 'Win32_Process'</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CCMCommand" serializeAs="String">
                <value>ccmsetup.exe</value>
            </setting>
            <setting name="CCMInstallationProperties" serializeAs="String">
                <value>/runservice SMSSITECODE=AUTO SMSCACHESIZE=5120</value>
            </setting>
            <setting name="PolImportType" serializeAs="String">
                <value>HTTP</value>
            </setting>
            <setting name="SMSServices" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CCMEXEC</string>
                        <string>LANMANWORKSTATION</string>
                        <string>LANMANSERVER</string>
                        <string>BITS</string>
                        <string>WUAUSERV</string>
                        <string>REMOTEREGISTRY</string>
                        <string>WINMGMT</string>
                        <string>MSISERVER</string>
                        <string>CCMSETUP</string>
                        <string>WMIREPAIR</string>
                        <string>SMSTSMGR</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Logging_Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>%TEMP%</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="EndpointQueues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CertificateMaintenanceEndpoint</string>
                        <string>CIAgentDtsReply</string>
                        <string>ClientRegistration</string>
                        <string>CTMDTSReply</string>
                        <string>DCMAgent</string>
                        <string>execmgr</string>
                        <string>InventoryAgent</string>
                        <string>LS_NetworkConfig</string>
                        <string>LS_ReplyLocations</string>
                        <string>LS_ScheduledCleanup</string>
                        <string>MtrMgr</string>
                        <string>OOBMgmt</string>
                        <string>PeerDPManager</string>
                        <string>PolicyAgent_Cleanup</string>
                        <string>PolicyAgent_PolicyDownload</string>
                        <string>PolicyAgent_PolicyEvaluator</string>
                        <string>PolicyAgent_ReplyAssignments</string>
                        <string>PolicyAgent_RequestAssignments</string>
                        <string>PolicyAgent_ReRequestPolicy</string>
                        <string>ProxyMaintenanceEndpoint</string>
                        <string>PwrMgmt</string>
                        <string>RebootCoord</string>
                        <string>RemoteToolsAgent</string>
                        <string>ScanAgent</string>
                        <string>SdmPkgLoaderDtsReply</string>
                        <string>SMSSHA</string>
                        <string>SrcUpdateMgr</string>
                        <string>SrvWinMgr</string>
                        <string>StateMessageManager</string>
                        <string>SWMTRReportGen</string>
                        <string>UpdatesAgent</string>
                        <string>UpdatesDeploymentAgent</string>
                        <string>UpdateStore</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PluginPath" serializeAs="String">
                <value>%CommonProgramFiles%</value>
            </setting>
            <setting name="WOLPort" serializeAs="String">
                <value>12287</value>
            </setting>
            <setting name="AdhocInv" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>OS Architecture|root\cimv2|SELECT VariableValue FROM  Win32_Environment WHERE Name='PROCESSOR_ARCHITECTURE' AND UserName='&lt;SYSTEM&gt;'</string>
                        <string>PC Manufacturer|root\cimv2|SELECT Manufacturer FROM Win32_ComputerSystem</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EnablePrivilegesOnConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalPolicyLookupQuery" serializeAs="String">
                <value>SELECT v_Advertisement.AdvertisementID, LTRIM(v_Package.Manufacturer + ' ' + v_Package.Name + ' ' + v_Package.Version + ' ' + v_Package.Language + ' : ' + v_Advertisement.ProgramName + ' (' + v_Advertisement.AdvertisementID + ')') AS DispVal FROM v_Advertisement INNER JOIN v_Package ON v_Advertisement.PackageID = v_Package.PackageID WHERE v_Package.Name like '%{0}%' ORDER BY DispVal</value>
            </setting>
            <setting name="ExplorerTool" serializeAs="String">
                <value>Explorer.exe</value>
            </setting>
            <setting name="ResolvePackageNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GetUserExecHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetUserSchedules" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HidePowerMgmtFeatures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideDuplicateUpdateArticles" serializeAs="String">
                <value>False</value>
            </setting>
        </SMSCliCtrV2.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SMSCliCtrV2.Properties.Settings>
            <setting name="UserMgr" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="HostHistory" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="AdvFilter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </SMSCliCtrV2.Properties.Settings>
    </userSettings>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>