<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCCMImport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SCCMImport.Properties.Settings>
            <setting name="ApplicationsPath" serializeAs="String">
                <value>Applications</value>
            </setting>
            <setting name="DriverPath" serializeAs="String">
                <value>Drivers</value>
            </setting>
            <setting name="OSImagesPath" serializeAs="String">
                <value>OSInstallPackages</value>
            </setting>
            <setting name="TaskSequencesPath" serializeAs="String">
                <value>TaskSequences</value>
            </setting>
            <setting name="ImagePath" serializeAs="String">
                <value>OSPackages</value>
            </setting>
            <setting name="BootImagePath" serializeAs="String">
                <value>Bootimages</value>
            </setting>
        </SCCMImport.Properties.Settings>
    </applicationSettings>
</configuration>