<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FrontEndAdminGroup" value="_adgroup_" />
    <add key="ADConnectionUsername" value="_aduser_" />
    <add key="ADConnectionPassword" value="_adpass_" />
    <add key="ConfigMgrUsername" value="_cmuser_" />
    <add key="ConfigMgrPassword" value="_cmpass_" />
    <add key="ConfigMgrSiteServer" value="_cmserver_" />
    <add key="ConfigMgrSQLDataSource" value="_sqlserver_" />
	<add key="ConfigMgrSiteCode" value="_sitecode_" />
	<add key="WebServerSslPort" value="" />
	<add key="ConfigMgrSQLDbPrefix" value="CM" />
  </appSettings>
</configuration>