<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- Do not change anything in this settings block -->
  <configSections>
    <sectionGroup name="dataCollectorSettings">
      <sectionGroup name="CcmWmiDataCollector" >
        <section name="collectionScopes" type="System.Configuration.DictionarySectionHandler" />
        <section name="ignoreScopes" type="System.Configuration.DictionarySectionHandler" />
      </sectionGroup>
      <sectionGroup name="RegistryDataCollector">
        <section name="registryKeys" type="System.Configuration.DictionarySectionHandler"/>
      </sectionGroup>
      <sectionGroup name="CcmLogDataCollector">
        <section name="additionalLogFiles" type="System.Configuration.DictionarySectionHandler" />
      </sectionGroup>
    </sectionGroup>
    <sectionGroup name="logGroups">
      <section name="componentLogGroup" type="System.Configuration.DictionarySectionHandler"/>
      <section name="staticLogGroup" type="System.Configuration.DictionarySectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <appSettings>
    <!-- Show assertion dialog on internal failure. This should only be enabled for troubleshooting certain crashes. -->
    <!--<add key="Show Assertion Window" value="true"/>-->
  </appSettings>
  
  <!-- 
  Configuration settings specific to the various data collectors used by Support Center.
  Please reference the product docs at http://go.microsoft.com/fwlink/?LinkId=396874 for more information
  on how to configure these settings.
  -->
  <dataCollectorSettings>
    <CcmLogDataCollector>
      <additionalLogFiles>
        <!-- Collect these additional log files. Can pass in a wildcard for the filename. System variables are also supported. -->
        <!--
        <add key="%WINDIR%\WindowsUpdate.log" />
        <add key="%WINDIR%\logs\*.log" />
        -->
      </additionalLogFiles>
    </CcmLogDataCollector>
    <CcmWmiDataCollector>
      <collectionScopes>
        <!-- Collect these namespaces (ignoring the sub-scopes in the ignoreScopes block) -->
        <add key="root\ccm" />
        <add key="root\cimv2\sms" />
      </collectionScopes>
      <ignoreScopes>
        <!-- Collecting these namespaces is known to be problematic/unnecessary -->
        <add key="root\ccm\cimodels" />
        <add key="root\ccm\invagt" />
        <add key="root\ccm\events" />
        <!-- Do not collect policy, there's already a separate policy collector.-->
        <add key="root\ccm\policy" />
      </ignoreScopes>
    </CcmWmiDataCollector>
    <RegistryDataCollector>
      <registryKeys>
        <!-- Registry keys (and all subkeys) to collect -->
        <add key="software\\microsoft\\ccm" />
        <add key="software\\microsoft\\sms" />
        <add key="software\\microsoft\\ccmsetup" />
      </registryKeys>
    </RegistryDataCollector>
  </dataCollectorSettings>
  <logGroups>
    <componentLogGroup>
      <add key="Application Management" value="^(app.*|ci.*|contentaccess|contenttransfermanager|datatransferservice|dcm.*|execmgr.*|UserAffinity.*|.*Handler$|.*Provider$)" />
      <add key="Client Registration" value="^(clientregistration|locationservices|ccmmessaging|ccmexec)" />
      <add key="Inventory" value="^(ccmmessaging|inventoryagent|mtrmgr|swmtrreportgen|virtualapp|mtr.*|filesystemfile)" />
      <add key="Policy" value="^(ccmmessaging|policyagent_.*|policyevaluator_.*)" />
      <add key="Software Updates" value="^(ci.*|contentaccess|contenttransfermanager|datatransferservice|dcm.*|update.*|wuahandler|xmlstore|scanagent)" />
      <add key="Software Distribution" value="^(datatransferservice|execmgr.*|contenttransfermanager|locationservices|contentaccess|filebits)" />
      <add key="Desired Configuration Management" value="^(ci.*|dcm.*)" />
      <add key="Operating System Deployment" value="^(ts.*)" />
    </componentLogGroup>
    <staticLogGroup>
      <add key="Application Management" value="ccmsdkprovider.log"/>
      <add key="Desired Configuration Management" value="ccmsdkprovider.log"/>
      <add key="Software Updates" value="ccmsdkprovider.log"/>
    </staticLogGroup>
  </logGroups>
  
  <!-- Do not change anything in this settings block -->
  <startup>    
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <system.diagnostics>
    <switches>
      <!-- Configures the log level for troubleshooting. Should not be changed. -->
      <add name="Messaging Logging" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>